.top-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: white;
    border-bottom: 5px solid white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add some depth with shadow */
    transition: background 0.3s ease; /* Smooth transition for background change */
}
.logo{
    font-weight: bold;
    font-family: "Microsoft Sans Serif", serif;
    font-size: 30px;
    margin: 0;
    padding: 10px;
}
.topNav-list{
    list-style: none;
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.topNav-list a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
.topNav-list a:hover {
    color: #007bff; /* Optional: Change color on hover */
}

@media screen and (max-width: 480px){
    .topNav-list{
        display: none;
    }
    .logo{
        font-weight: bold;
        font-size: 30px;
    }

}