.hamburger{
    display: none;
}
.sidebar-container{
    display: none;
}

@media screen and (max-width: 480px){
    .hamburger {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
        position: fixed;
        top: 25px;
        right: 10px;
        z-index: 1000;
    }
    .sidebar-container {
        display: block;
        width: 200px;
        background: whitesmoke;
        position: fixed;
        height: 100%;
        padding: 20px;
        right: 0;
        transition: transform 0.3s ease;
        transform: translateX(100%);
        z-index: 999;
    }

    .show-sidebar {
        transform: translateX(0);
    }

    .sidebar-list {
        list-style: none;
        padding: 0;
    }
    .sidebar-list li {
        margin: 10px 0;
    }
    .sidebar-list a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        display: block;
        padding: 10px 15px;
        border-radius: 6px;
        transition: background 0.3s ease;
    }
    .sidebar-list a:hover,
    .sidebar-list a:active {
        background: #007bff;
        color: white;
    }

}